#prospect {
	display: grid;
	grid-template-rows: 2fr 1fr;
	grid-template-columns: 2fr 1fr;
	height: 100vh;
	width: 100%;
}

#info {
	grid-row-start: 1;
	grid-row-end: 3;

}

.pwidget {
	background-color: var(--secondary-bg);
	border-radius: 1rem;
	margin: 2rem;
	overflow-y: auto;
	padding: 3rem;
}

#checkbox-grp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#checkbox-grp > * {
	margin: 2rem 0;
	border-radius: 1rem;
}