thead {
	background-color: #F2F2F2;
}

tbody {
	background-color: #FFF;
}

th,
td {
	width: 25%;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #000;
	padding: 0.3em;
	border-top-width: 1px;
}
