#root {
  margin: 0 auto;
  min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.mt-auto {
	margin-top: auto;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.primary-bg {
	background-color: var(--primary-bg) !important;
}

.big-btn {
	padding: 0.6em 1.2em !important;
	font-size: 1em !important;
	font-weight: 500 !important;
}

.big-btn:hover {
	border-color: #646cff !important;
}

.big-btn:focus,
.big-btn:focus-visible {
	outline: 4px auto -webkit-focus-ring-color !important;
}