:root {
	--primary-bg: #161039;
	--secondary-bg: #262952;
	
	--primary-scroll: #343872;	
	--secondary-scroll: #222667;
	--white-text: #dfe0e7;

	--red: #B4654A !important;
	--green: #069E2D !important;
	--blue: #6A6B83 !important;
	--white: #e7e9ff !important;
	--orange: #EE8A58 !important;
	--darker-white: #48495c !important;

  font-family: Helvetica, Inter, Avenir, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white-text) !important;
  background-color: var(--primary-bg) !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
	margin: 0 auto;
	min-height: 100vh;
	color: var(--white-text) !important;
	background-color: var(--primary-bg) !important;
}

h1, h2, h3, h4, h5, h6, p {
	line-height: 1.5;
	margin: 0;
}

h1 {
  font-size: 3.2em;
}

.bigger {
	font-size: 2em;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: var(--primary-bg);
	border-color: #999999;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-scroll) !important;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--secondary-scroll) !important;
}